// IMPORT
@import "lesshat.less";

// bootstrap
@import "bootstrap-glyphicons.less";

// mykomicaX
@import "utility.less";
@import "variable.less";
@import "swatches.less";
@import "color.less";
@import "forms.less";
@import "buttons.less";
@import "menubar.less";


// variable
// ================================
@padding-vertical: 5px;
@padding-horizontal: 5px;

@formWidth: 200px - 20px;

// basicForm 基本的表單樣式
// ================================

//將 form 的 寬度 分成不同的格數， 一格 180 px
.formWidth( @level: 1, @padding: 0){
	width: ( @formWidth ) * @level - ( @padding * 2); 
	padding: @padding-vertical @padding-horizontal;
	margin-bottom: 5px;
}

input {
	border: 1px solid @gray-lighter;
}
.textarea {
	@lineHeight: 24px;
	
	position: relative;
	margin: 0 auto;	

	height: @lineHeight * 3;
	.formWidth(2.5, @padding-horizontal);
		
	.border(@gray-lighter);

	color: @fontColor;
	font-size: 16px;
	line-height: @lineHeight;
	text-align: left;
	white-space: normal;
	word-break: normal;	
	word-wrap: break-word;	

	overflow-y: auto;
	overflow-x: hidden;

}	
// fake placeholder by css before attribute
div.textarea[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: @gray-light;	
}
.textarea, 
input {	
	.box-shadow(~"0 0 3px rgba(0,0,0,0.1) inset");
	.transition(~"box-shadow 0.2s ease-out");
	.transition-property(~"background-color");
	border-radius: 5px;
	background-color: #fafafa;
	outline: none;

	&:focus {
		.box-shadow(~"0 0 3px 2px rgba(0,0,0,0.1) inset");
		background-color: @white;
	}
}



// PostForm
// ================================
.menu-bar.menu-replymode {	
	position: fixed;
	z-index: @zindex-menubar;
	width: 100%;
	right: 0; top: 0; left: 0;
}
.fluid-post-form {
	position: relative;
	display: table;
	z-index: @zindex-popover;

	.transition(~"0.2s ease-out");
	.transition-property( top );
	
	// 進場動畫 浮動
	&.active {		
		position: fixed;
		top: 32px; right: 0px;
		display: table;		

		.post-form {
			margin-right: 10px;
			padding: 10px 10px;
			.border-radius(5px);
			.border-top-left-radius(0px);
			.border-top-right-radius(0px);
			background-color: @white;	
			.box-shadow(~"0 5px 35px rgba(0,0,0,0.10)");

			input, #form-head  {
				display: inline-block;
			}		
		}
	}
	// 配合js 往下捲動後會靠右，可以邊看文邊回應。
	&.fluid {
		.post-form {
			margin-right: 10px;
		}
	}	
	// 收折成一個小小的發文框
	&.close {
		.post-form {
			input, #form-head  {
				display: none;
			}			
		}
	}
}
.post-form {
	position: relative;
	padding: @paddingLarge;
	display: table;
	
	// !! 還沒想到固定在中間移動到靠右邊的方法 因為 margin 沒有辦法用 transition !!
	@lineheight: 22px;
	.transition(~"0.25s linear");
	.transition-property( height, background-color, box-shadow);

	.btn-group,
	.attach-group {
		display: table;
		margin: 0 auto;
	}

	// 表頭
	#form-head {
		padding: 5px 0px;

		#user-id {

			&.hidden {
				display: none;
			}
			.id-first-letter {
				font-weight: bold;
			}
		}
	}

	// 本文輸入
	#form-textarea {
		// 前後綴的屬性的命名方式和順序要思考一下 
		// form 是 區域 位置 用途 之類的...
		// textarea 是 dom 主類別
		position: relative;

		input#input-name {
			.formWidth(1, 10px);			
		}
		input#input-title {
			.formWidth(1.5, 3px);
			margin-right: 5px;
		}
	}	
	#post-action {
		.clearfix;
	}
}